html {
    font-size: 16px;
}

body {
    background-color: #fffefb;
}

a {
    text-decoration: none;
}

.img {
    max-height: 95vh;
}

.img.home{
    height: 75vh;
}

.img.start {
    height: 90vh;
}

.svg{
    height: 100rem;
}
.row.video {
    height: 90vh;
}

/* Centratura immagini daviscup */
.img.daviscup {
    text-align: center;
}

.img-fluid.start {
    height: 95vh; /* Assicura che l'immagine riempia il contenitore */
    width: 100vw; /* Assicura che l'immagine riempia il contenitore */
    object-fit: cover; /* Mantieni le proporzioni dell'immagine */
}

/* Stile di base per le immagini e i video */
.img.home img,
.img.home video {
    position: relative;
    transition: all 0.3s ease;
}

/* Overlay di testo nascosto inizialmente */
.overlay-text {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fffefb;
    font-size: 2rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.1s ease;
    z-index: 3; /* Aggiunto z-index per assicurare visibilità */
}

/* Effetto hover: scurisce l'immagine o il video */
.img.home img:hover,
.img.home video:hover {
    filter: brightness(0.5);
}

/* Mostra il testo in hover */
.img.home:hover .overlay-text {
    opacity: 1;
}

.navbar {
    background-color: rgba(255, 254, 251, 0.5);
    backdrop-filter: blur(0.1rem);
    height: 8vh;
}



.nav-link {
    font-family: "Red Hat Display", sans-serif;
    color: #141414;
    font-weight: 700;
}

.nav-link.active {
    color: #5B00DB !important; /* Colore del link attivo (pagina corrente) */
    font-weight: 800; /* Aumenta lo spessore del testo */
}

/* Stilizzazione del navbar-toggler */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

/* Margine superiore per evitare che il contenuto venga coperto dalla navbar fissa */
body {
    padding-top: 70px; /* Spazio sotto la navbar */
}

footer {
    background-color: #e60404;
    margin: 0;
    padding: 0;
    position: relative;
}

.row.title {
    border-top: 1px solid #5B00DB;
    border-bottom: 1px solid #5B00DB;
}

.desktop-only {
    display: none;
}

.space{
    margin-top: 14vh;
    margin-bottom: 2vh;
}

/* Impostazioni Font */
h1, .h1 {
    font-size: 1.2rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 800;
    color: #141414;
    text-transform: uppercase;
    margin: 0;
}

.footer-title {
    font-size: 2rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 800;
    color: #fffefb;
    margin: 0;
    line-height: 95%;
}

.footer-description{
    font-size: 0.9rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    color: #fffefb;
}

.copyright-text {
    position: absolute;
    bottom: 1vh;
    color: #fffefb;
    font-size: 0.9rem;
}

h2 {
    font-size: 1rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    color: #141414;
    margin: 0;
}

.h3 {
    font-size: 1.3rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    color: #141414;
    margin: 0;
}

.h4
{
    font-size: 1rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    color: #141414;
    margin: 0;
}

.h4:hover {
    color:#5B00DB;
}

p, .p {
    font-size: 1.1rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    color: #141414;
}

.copyright {
    font-size: 0.7rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    color: #141414;
    transition: color 0.3s ease;
}

.copyright:hover {
    color: #a3a3a3;
}

.imgright {
    font-size: 1rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    color: #a3a3a3;
}

.p.grey {
    color: #a3a3a3;
    border-bottom: 1px solid #ff0303;
}

.h5 {
    font-size: 1rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    color: #141414;
}


/* Responsive Design */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
    .desktop-only {
        display: inline;
    }

    .space{
        margin-bottom: 4vh;
    }

    /* Font scaling */
    p, .p {
        font-size: 1rem;
    }

    h1, .h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    
    h1, .h1 {
        font-size: 2.3rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .nav-link:hover {
        color: #5B00DB;
    }

    .footer-title {
        font-size: 2.5rem;
    }
    
    .footer-description{
        font-size: 0.9rem;
    }
    
    .copyright-text {
        bottom: 3vh;
        font-size: 0.9rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    h1, .h1 {
        font-size: 2.5rem;
    }

    p, .p {
        font-size: 1.4rem;
    }
}
